.Projects {
  padding: 100px 0 30px;
  .ProjectsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Projects-title {
      cursor: default;
      text-align: center;
      position: relative;
      font-size: 3rem;

      &:after {
        position: absolute;
        content: "";
        bottom: -20px;
        left: 50%;
        height: 5px;
        width: 50px;
        transform: translate(-50%, 0);
        background: #00abff;
        border-radius: 30px;
      }
    }

    .switch-btn-container {
      display: flex;
      justify-content: space-around;
      border: 4px solid #00abff;
      border-radius: 30px;
      width: 250px;
      background: grey;
      margin: 0;
      padding: 0;
    }

    .btn {
      padding: 10px 10px;
      border: 5px solid #00abff;
      border-radius: 50px;
    }

    .active {
      background: #00abff;
    }
  }
}

.Project-box {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.left-side {
  width: 300px;
  min-width: 300px;
  img {
    width: 100%;
    height: 190px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #0000002f;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;

    .code-btn,
    .live-btn {
      padding: 12px 20px;
      border-radius: 50px;
      color: white;

      i {
        color: white;
        margin-right: 5px;
      }
    }

    .code-btn {
      margin-right: 15px;
      background: #454545;
      transition: background 0.5s;
      &:hover {
        background: darken(#454545, 10%);
      }
    }
    .live-btn {
      background: #00abff;
      transition: background 0.5s;
      &:hover {
        background: darken(#00abff, 10%);
      }
    }
  }
}

.right-side {
  cursor: default;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;

  .project-name {
    margin: 0;
    font-size: 1.5rem;
    span {
      color: red;
      font-size: 0.8rem;
    }
  }

  .description {
    line-height: 1.8rem;
    font-family: "Public Sans", sans-serif;
  }

  .tech-used {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    p {
      margin: 0 5px 5px 5px;
      padding: 7px 13px;
      color: #00abff;
      font-size: 0.9rem;
      font-weight: 700;
      border-radius: 40px;
      border: 2px solid #00abff;
    }
  }
  .flex-right {
    padding-left: 30px;
    justify-content: flex-end;
  }
  .flex-left {
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .right-side .flex-right {
    padding-left: 0px;
    justify-content: flex-start;
  }

  .Projects .Projects-title {
    font-size: 2.5rem;
    margin-bottom: -10px;
  }

  .Project-box {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: center;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;
    }
  }

  .right-side {
    padding: 0;

    .project-name {
      margin-top: 40px;
    }
  }
}
