.Skills {
  padding: 100px 0 20px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3.5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      right: 50px;
      height: 5px;
      width: 65px;
      background: blue;
      border-radius: 20px;
    }
  }

  p {
    text-align: center;
  }

  .grid-skills {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 15px;

    .skill-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background: #1b262c;
      border-radius: 10px;
      cursor: default;

      i {
        margin-right: 8px;
        color: white;
      }

      p {
        margin: 0;
        padding: 10px;
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        list-style: circle;
      }
       &.grow {
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      padding: 50px 0;
      grid-gap: 10px;

      .skill-box {
        &:hover {
          transform: none;
        }

        p {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .Skills {
    h1 {
      font-size: 2.5rem;

      &::after {
        transform: translate(-50%, 0);
        right: 0px;
        height: 5px;
        width: 55px;
        background: blue;
        border-radius: 20px;
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 0px;
    }
  }
}
